{% extends "learning_logs/base.html" %}

{% block header %}
    <h2>Topics</h2>
{% endblock header %}

{% block content %}
    <ul>
        {% for topic in topics %}
            <h3>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </li>
        {% empty %}
            <h3>No topics have been added yet.</li>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url 'learning_logs:new_topic' %}">Add a new topic:</a>
    </div>
{% endblock content %}